################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpPanel/.vs/OpPanel/v16
/OpPanel/OpPanel.vcxproj.user
/OpPanel/Debug
/OpPanel/x64/Debug/vc142.pdb
/OpPanel/x64/Debug/vc142.idb
/OpPanel/x64/Debug/StdAfx.obj
/OpPanel/x64/Debug/OpPanel.tlog/OpPanel.write.1u.tlog
/OpPanel/x64/Debug/OpPanel.tlog/OpPanel.lastbuildstate
/OpPanel/x64/Debug/OpPanel.tlog/link.write.1.tlog
/OpPanel/x64/Debug/OpPanel.tlog/link.read.1.tlog
/OpPanel/x64/Debug/OpPanel.tlog/link.command.1.tlog
/OpPanel/x64/Debug/OpPanel.tlog/link.6836.delete.1.tlog
/OpPanel/x64/Debug/OpPanel.tlog/link.4196.delete.1.tlog
/OpPanel/x64/Debug/OpPanel.tlog/CL.write.1.tlog
/OpPanel/x64/Debug/OpPanel.tlog/CL.read.1.tlog
/OpPanel/x64/Debug/OpPanel.tlog/CL.command.1.tlog
/OpPanel/x64/Debug/OpPanel.pdb
/OpPanel/x64/Debug/OpPanel.pch
/OpPanel/x64/Debug/OpPanel.log
/OpPanel/x64/Debug/OpPanel.lib
/OpPanel/x64/Debug/OpPanel.ilk
/OpPanel/x64/Debug/OpPanel.exp
/OpPanel/x64/Debug/OpPanel.dll
/OpPanel/x64/Debug/Main.obj
/OpPanel/x64/Debug/FindComPort.obj
/OpPanel/x64/Debug/CpuUsage.obj
