################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpPanel/.vs/OpPanel/v16
/OpPanel/OpPanel.vcxproj.user
/OpPanel/x64
/.vs
